<?xml version="1.0" encoding="UTF-8" ?>
<!-- spring-config.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="worldService" class="org.springframework.test.service.WorldService">
    </bean>

    <bean id="helloService" class="org.springframework.test.service.HelloService">
        <property name="worldService" ref="worldService"/>
        <property name="name" value="lisi"/>
    </bean>

    <bean class="org.springframework.test.beans.factory.MyBeanPostProcessor"/>
    <bean class="org.springframework.test.beans.factory.MyBeanFactoryPostProcessor"/>
</beans>